[submodule "modules/ILMT-HIN-PAN-Tokenizer"]
	path = modules/ILMT-HIN-PAN-Tokenizer
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Tokenizer.git
[submodule "modules/ILMT-HIN-PAN-UTF2WX"]
	path = modules/ILMT-HIN-PAN-UTF2WX
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-UTF2WX.git
[submodule "modules/ILMT-HIN-PAN-Morph"]
	path = modules/ILMT-HIN-PAN-Morph
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Morph.git
[submodule "modules/ILMT-HIN-PAN-POSTagger"]
	path = modules/ILMT-HIN-PAN-POSTagger
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-POSTagger.git
[submodule "modules/ILMT-HIN-PAN-Chunker"]
	path = modules/ILMT-HIN-PAN-Chunker
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Chunker.git
[submodule "modules/ILMT-HIN-PAN-Prune"]
	path = modules/ILMT-HIN-PAN-Prune
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Prune.git
[submodule "modules/ILMT-HIN-PAN-GuessMorph"]
	path = modules/ILMT-HIN-PAN-GuessMorph
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-GuessMorph.git
[submodule "modules/ILMT-HIN-PAN-PickOneMorph"]
	path = modules/ILMT-HIN-PAN-PickOneMorph
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-PickOneMorph.git
[submodule "modules/ILMT-HIN-PAN-HeadComputation"]
	path = modules/ILMT-HIN-PAN-HeadComputation
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-HeadComputation.git
[submodule "modules/ILMT-HIN-PAN-VibhaktiComputation"]
	path = modules/ILMT-HIN-PAN-VibhaktiComputation
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-VibhaktiComputation.git
