[submodule "modules/ILMT-HIN-PAN-Tokenizer"]
	path = modules/ILMT-HIN-PAN-Tokenizer
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Tokenizer.git
[submodule "modules/ILMT-HIN-PAN-UTF2WX"]
	path = modules/ILMT-HIN-PAN-UTF2WX
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-UTF2WX.git
[submodule "modules/ILMT-HIN-PAN-Morph"]
	path = modules/ILMT-HIN-PAN-Morph
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Morph.git
[submodule "modules/ILMT-HIN-PAN-POSTagger"]
	path = modules/ILMT-HIN-PAN-POSTagger
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-POSTagger.git
[submodule "modules/ILMT-HIN-PAN-Chunker"]
	path = modules/ILMT-HIN-PAN-Chunker
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Chunker.git
[submodule "modules/ILMT-HIN-PAN-Prune"]
	path = modules/ILMT-HIN-PAN-Prune
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Prune.git
[submodule "modules/ILMT-HIN-PAN-GuessMorph"]
	path = modules/ILMT-HIN-PAN-GuessMorph
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-GuessMorph.git
[submodule "modules/ILMT-HIN-PAN-PickOneMorph"]
	path = modules/ILMT-HIN-PAN-PickOneMorph
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-PickOneMorph.git
[submodule "modules/ILMT-HIN-PAN-SimpleParser"]
	path = modules/ILMT-HIN-PAN-SimpleParser
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-SimpleParser.git
[submodule "modules/ILMT-HIN-PAN-Root2Infinity"]
	path = modules/ILMT-HIN-PAN-Root2Infinity
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Root2Infinity.git
[submodule "modules/ILMT-HIN-PAN-TransferGrammar"]
	path = modules/ILMT-HIN-PAN-TransferGrammar
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-TransferGrammar.git
[submodule "modules/ILMT-HIN-PAN-WX2UTF"]
	path = modules/ILMT-HIN-PAN-WX2UTF
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-WX2UTF.git
[submodule "modules/ILMT-HIN-PAN-LexicalTransfer"]
	path = modules/ILMT-HIN-PAN-LexicalTransfer
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-LexicalTransfer.git
[submodule "modules/ILMT-HIN-PAN-Transliteration"]
	path = modules/ILMT-HIN-PAN-Transliteration
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-Transliteration.git
[submodule "modules/ILMT-HIN-PAN-AgreementFeature"]
	path = modules/ILMT-HIN-PAN-AgreementFeature
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-AgreementFeature.git
[submodule "modules/ILMT-HIN-PAN-VibhaktiSplitter"]
	path = modules/ILMT-HIN-PAN-VibhaktiSplitter
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-VibhaktiSplitter.git
[submodule "modules/ILMT-HIN-PAN-InterChunk"]
	path = modules/ILMT-HIN-PAN-InterChunk
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-InterChunk.git
[submodule "modules/ILMT-HIN-PAN-IntraChunk"]
	path = modules/ILMT-HIN-PAN-IntraChunk
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-IntraChunk.git
[submodule "modules/ILMT-HIN-PAN-AgreementDistribution"]
	path = modules/ILMT-HIN-PAN-AgreementDistribution
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-AgreementDistribution.git
[submodule "modules/ILMT-HIN-PAN-DefaultFeatures"]
	path = modules/ILMT-HIN-PAN-DefaultFeatures
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-DefaultFeatures.git
[submodule "modules/ILMT-HIN-PAN-WordGenerator"]
	path = modules/ILMT-HIN-PAN-WordGenerator
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-WordGenerator.git
[submodule "modules/ILMT-HIN-PAN-SSFAPI"]
	path = modules/ILMT-HIN-PAN-SSFAPI
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-SSFAPI.git
[submodule "modules/ILMT-HIN-PAN-ComputeVibhakti"]
	path = modules/ILMT-HIN-PAN-ComputeVibhakti
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-ComputeVibhakti.git
[submodule "modules/ILMT-HIN-PAN-ComputeHead"]
	path = modules/ILMT-HIN-PAN-ComputeHead
	url = https://gitlab.com/ilmt/ILMT-HIN-PAN-ComputeHead.git
[submodule "modules/ILMT-PAN-HIN-Tokenizer"]
	path = modules/ILMT-PAN-HIN-Tokenizer
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-Tokenizer.git
[submodule "modules/ILMT-PAN-HIN-Morph"]
	path = modules/ILMT-PAN-HIN-Morph
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-Morph.git
[submodule "modules/ILMT-PAN-HIN-POSTagger"]
	path = modules/ILMT-PAN-HIN-POSTagger
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-POSTagger.git
[submodule "modules/ILMT-PAN-HIN-Chunker"]
	path = modules/ILMT-PAN-HIN-Chunker
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-Chunker.git
[submodule "modules/ILMT-PAN-HIN-Prune"]
	path = modules/ILMT-PAN-HIN-Prune
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-Prune.git
[submodule "modules/ILMT-PAN-HIN-SSFAPI"]
	path = modules/ILMT-PAN-HIN-SSFAPI
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-SSFAPI.git
[submodule "modules/ILMT-PAN-HIN-GuessMorph"]
	path = modules/ILMT-PAN-HIN-GuessMorph
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-GuessMorph.git
[submodule "modules/ILMT-PAN-HIN-PickOneMorph"]
	path = modules/ILMT-PAN-HIN-PickOneMorph
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-PickOneMorph.git
[submodule "modules/ILMT-PAN-HIN-ComputeHead"]
	path = modules/ILMT-PAN-HIN-ComputeHead
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-ComputeHead.git
[submodule "modules/ILMT-PAN-HIN-ComputeVibhakti"]
	path = modules/ILMT-PAN-HIN-ComputeVibhakti
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-ComputeVibhakti.git
[submodule "modules/ILMT-PAN-HIN-SimpleParser"]
	path = modules/ILMT-PAN-HIN-SimpleParser
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-SimpleParser.git
[submodule "modules/ILMT-PAN-HIN-TransferGrammar"]
	path = modules/ILMT-PAN-HIN-TransferGrammar
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-TransferGrammar.git
[submodule "modules/ILMT-PAN-HIN-LexicalTransfer"]
	path = modules/ILMT-PAN-HIN-LexicalTransfer
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-LexicalTransfer.git
[submodule "modules/ILMT-PAN-HIN-UTF2WX"]
	path = modules/ILMT-PAN-HIN-UTF2WX
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-UTF2WX.git
[submodule "modules/ILMT-PAN-HIN-Transliteration"]
	path = modules/ILMT-PAN-HIN-Transliteration
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-Transliteration.git
[submodule "modules/ILMT-PAN-HIN-AgreementFeature"]
	path = modules/ILMT-PAN-HIN-AgreementFeature
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-AgreementFeature.git
[submodule "modules/ILMT-PAN-HIN-VibhaktiSplitter"]
	path = modules/ILMT-PAN-HIN-VibhaktiSplitter
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-VibhaktiSplitter.git
[submodule "modules/ILMT-PAN-HIN-InterChunk"]
	path = modules/ILMT-PAN-HIN-InterChunk
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-InterChunk.git
[submodule "modules/ILMT-PAN-HIN-IntraChunk"]
	path = modules/ILMT-PAN-HIN-IntraChunk
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-IntraChunk.git
[submodule "modules/ILMT-PAN-HIN-DefaultFeatures"]
	path = modules/ILMT-PAN-HIN-DefaultFeatures
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-DefaultFeatures.git
[submodule "modules/ILMT-PAN-HIN-AgreementDistribution"]
	path = modules/ILMT-PAN-HIN-AgreementDistribution
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-AgreementDistribution.git
[submodule "modules/ILMT-PAN-HIN-WordGenerator"]
	path = modules/ILMT-PAN-HIN-WordGenerator
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-WordGenerator.git
[submodule "modules/ILMT-PAN-HIN-WX2UTF"]
	path = modules/ILMT-PAN-HIN-WX2UTF
	url = https://gitlab.com/ilmt/ILMT-PAN-HIN-WX2UTF.git
[submodule "modules/ILMT-HIN-URD-Tokenizer"]
	path = modules/ILMT-HIN-URD-Tokenizer
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-Tokenizer.git
[submodule "modules/ILMT-HIN-URD-UTF2WX"]
	path = modules/ILMT-HIN-URD-UTF2WX
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-UTF2WX.git
[submodule "modules/ILMT-HIN-URD-Morph"]
	path = modules/ILMT-HIN-URD-Morph
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-Morph.git
[submodule "modules/ILMT-HIN-URD-SSFAPI"]
	path = modules/ILMT-HIN-URD-SSFAPI
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-SSFAPI.git
[submodule "modules/ILMT-HIN-URD-POSTagger"]
	path = modules/ILMT-HIN-URD-POSTagger
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-POSTagger.git
[submodule "modules/ILMT-HIN-URD-Prune"]
	path = modules/ILMT-HIN-URD-Prune
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-Prune.git
[submodule "modules/ILMT-HIN-URD-PickOneMorph"]
	path = modules/ILMT-HIN-URD-PickOneMorph
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-PickOneMorph.git
[submodule "modules/ILMT-HIN-URD-Chunker"]
	path = modules/ILMT-HIN-URD-Chunker
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-Chunker.git
[submodule "modules/ILMT-HIN-URD-MWE"]
	path = modules/ILMT-HIN-URD-MWE
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-MWE.git
[submodule "modules/ILMT-HIN-URD-NER"]
	path = modules/ILMT-HIN-URD-NER
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-NER.git
[submodule "modules/ILMT-HIN-URD-Merger"]
	path = modules/ILMT-HIN-URD-Merger
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-Merger.git
[submodule "modules/ILMT-HIN-URD-ComputeHead"]
	path = modules/ILMT-HIN-URD-ComputeHead
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-ComputeHead.git
[submodule "modules/ILMT-HIN-URD-WX2UTF"]
	path = modules/ILMT-HIN-URD-WX2UTF
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-WX2UTF.git
[submodule "modules/ILMT-HIN-URD-LexicalTransfer"]
	path = modules/ILMT-HIN-URD-LexicalTransfer
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-LexicalTransfer.git
[submodule "modules/ILMT-HIN-URD-Transliteration"]
	path = modules/ILMT-HIN-URD-Transliteration
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-Transliteration.git
[submodule "modules/ILMT-HIN-URD-UTF2WX_U"]
	path = modules/ILMT-HIN-URD-UTF2WX_U
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-UTF2WX_U.git
[submodule "modules/ILMT-HIN-URD-AgreementFeature"]
	path = modules/ILMT-HIN-URD-AgreementFeature
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-AgreementFeature.git
[submodule "modules/ILMT-HIN-URD-InterChunk"]
	path = modules/ILMT-HIN-URD-InterChunk
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-InterChunk.git
[submodule "modules/ILMT-HIN-URD-IntraChunk"]
	path = modules/ILMT-HIN-URD-IntraChunk
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-IntraChunk.git
[submodule "modules/ILMT-HIN-URD-DefaultFeatures"]
	path = modules/ILMT-HIN-URD-DefaultFeatures
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-DefaultFeatures.git
[submodule "modules/ILMT-HIN-URD-WordGenerator"]
	path = modules/ILMT-HIN-URD-WordGenerator
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-WordGenerator.git
[submodule "modules/ILMT-HIN-URD-WX2UTF_U"]
	path = modules/ILMT-HIN-URD-WX2UTF_U
	url = https://gitlab.com/ilmt/ILMT-HIN-URD-WX2UTF_U.git
[submodule "modules/ILMT-URD-HIN-Tokenizer"]
	path = modules/ILMT-URD-HIN-Tokenizer
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-Tokenizer.git
[submodule "modules/ILMT-URD-HIN-SSFAPI"]
	path = modules/ILMT-URD-HIN-SSFAPI
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-SSFAPI.git
[submodule "modules/ILMT-URD-HIN-UTF2WX_U"]
	path = modules/ILMT-URD-HIN-UTF2WX_U
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-UTF2WX_U.git
[submodule "modules/ILMT-URD-HIN-Morph"]
	path = modules/ILMT-URD-HIN-Morph
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-Morph.git
[submodule "modules/ILMT-URD-HIN-WX2UTF_U"]
	path = modules/ILMT-URD-HIN-WX2UTF_U
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-WX2UTF_U.git
[submodule "modules/ILMT-URD-HIN-POSTagger"]
	path = modules/ILMT-URD-HIN-POSTagger
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-POSTagger.git
[submodule "modules/ILMT-URD-HIN-Chunker"]
	path = modules/ILMT-URD-HIN-Chunker
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-Chunker.git
[submodule "modules/ILMT-URD-HIN-Prune"]
	path = modules/ILMT-URD-HIN-Prune
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-Prune.git
[submodule "modules/ILMT-URD-HIN-PickOneMorph"]
	path = modules/ILMT-URD-HIN-PickOneMorph
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-PickOneMorph.git
[submodule "modules/ILMT-URD-HIN-ComputeHead"]
	path = modules/ILMT-URD-HIN-ComputeHead
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-ComputeHead.git
[submodule "modules/ILMT-URD-HIN-LexicalTransfer"]
	path = modules/ILMT-URD-HIN-LexicalTransfer
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-LexicalTransfer.git
[submodule "modules/ILMT-URD-HIN-Transliteration"]
	path = modules/ILMT-URD-HIN-Transliteration
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-Transliteration.git
[submodule "modules/ILMT-URD-HIN-UTF2WX"]
	path = modules/ILMT-URD-HIN-UTF2WX
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-UTF2WX.git
[submodule "modules/ILMT-URD-HIN-AgreementFeature"]
	path = modules/ILMT-URD-HIN-AgreementFeature
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-AgreementFeature.git
[submodule "modules/ILMT-URD-HIN-InterChunk"]
	path = modules/ILMT-URD-HIN-InterChunk
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-InterChunk.git
[submodule "modules/ILMT-URD-HIN-IntraChunk"]
	path = modules/ILMT-URD-HIN-IntraChunk
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-IntraChunk.git
[submodule "modules/ILMT-URD-HIN-DefaultFeatures"]
	path = modules/ILMT-URD-HIN-DefaultFeatures
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-DefaultFeatures.git
[submodule "modules/ILMT-URD-HIN-WordGenerator"]
	path = modules/ILMT-URD-HIN-WordGenerator
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-WordGenerator.git
[submodule "modules/ILMT-URD-HIN-WX2UTF"]
	path = modules/ILMT-URD-HIN-WX2UTF
	url = https://gitlab.com/ilmt/ILMT-URD-HIN-WX2UTF.git
[submodule "modules/ILMT-TEL-HIN-Tokenizer"]
	path = modules/ILMT-TEL-HIN-Tokenizer
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-Tokenizer.git
[submodule "modules/ILMT-TEL-HIN-UTF2WX"]
	path = modules/ILMT-TEL-HIN-UTF2WX
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-UTF2WX.git
[submodule "modules/ILMT-TEL-HIN-Morph"]
	path = modules/ILMT-TEL-HIN-Morph
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-Morph.git
[submodule "modules/ILMT-TEL-HIN-POSTagger"]
	path = modules/ILMT-TEL-HIN-POSTagger
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-POSTagger.git
[submodule "modules/ILMT-TEL-HIN-Chunker"]
	path = modules/ILMT-TEL-HIN-Chunker
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-Chunker.git
[submodule "modules/ILMT-TEL-HIN-Prune"]
	path = modules/ILMT-TEL-HIN-Prune
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-Prune.git
[submodule "modules/ILMT-TEL-HIN-SSFAPI"]
	path = modules/ILMT-TEL-HIN-SSFAPI
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-SSFAPI.git
[submodule "modules/ILMT-TEL-HIN-GuessMorph"]
	path = modules/ILMT-TEL-HIN-GuessMorph
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-GuessMorph.git
[submodule "modules/ILMT-TEL-HIN-PickOneMorph"]
	path = modules/ILMT-TEL-HIN-PickOneMorph
	url = https://gitlab.com/ilmt/ILMT-TEL-HIN-PickOneMorph.git
